@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

main {
	width: 1043px;
    height: 3090px;
	margin: 0 auto;
	user-select: none;
	-webkit-user-drag: none;
	overflow-x: hidden;

}
body,html{
	overflow-x: hidden;
}

.map {
	width: 557px;
	height: 423px;
	margin: 0 auto;
	left: 50%;
}

/*Блоки*/
.hrr {
	width: 1200px;
	height: 136px;
	margin: 0 auto;
}

.box {
	position: relative;
	bottom: 50px;
	margin: 0 auto;
	display: flex;
	gap: 32px;
	width: 290px;
	height: 26px;

}

.block_1 {
	width: 475px;
    height: 253px;
}
.block_1_1 {
	width: 469px;
	height: 49px;
	display: flex;
	gap: 17px;
	position: relative;
	bottom: 20%;
}
.block_2 {
	position: relative;
	top: 180px;
	left: 1%;
	width: 460px;
	height: 240px;
	z-index: 1;
}
.block_2_1 {
    width: 245px;
    height: 46px;
	display: flex;
	gap: 10px;
}
.block_3 {
	position: relative;
	right: 0%;
	top: 120px;
	width: 460px;
	height: 260px;
}
.block_4 {
	position: relative;
	left: -1%;
	top: 20px;
	width: 460px;
	height: 260px;
}
.block_55 {
    width: 302px;
    height: 228px;
}
.text{
	width: 191px;
	height: 46px;
}
.cont_1{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
	font-size: 72px;
}
.cont_2{
	position: relative;
	bottom: 30%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
	font-size: 28px;
}
.filos{
	position: relative;
	bottom: 30%;
	width: 460px;
	height: 32px;
}
.text_lar{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--black);
}

.content_1 {
	position: absolute;
	top: 270px;
	margin: 0 auto;
	width: 979px;
	height: 422px;
	display: flex;
	gap: 150px;
}
.content_2 {
	position: absolute;
	top: 900px;
	margin: 0 auto;
	width: 1043px;
	height: 422px;
	display: flex;
	gap: 25px;
}
.content_3 {
	position: absolute;
	top: 1500px;
	margin: 0 auto;
	width: 1043px;
	height: 428px;
	display: flex;
}
.content_4 {
	position: absolute;
	top: 2060px;
	margin: 0 auto;
	width: 1043px;
	height: 428px;
	display: flex;
	gap: 150px;
}
.content_5 {
	position: absolute;
	top: 2620px;
	margin: 0 auto;
	width: 1043px;
	height: 428px;
	display: flex;
	gap: 170px;
}

.address{
    width: 247px;
    height: 46px;
}

.jd{
	font-family: var(--second-family);
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--black);

}
/*Картинки*/
.couple{
	position: relative;
	right: 1%;

}
.pizza_oven{
  position: relative;
  left: 5%;
}
.pizza {
	position: relative;
	width: 422px;
	height: 422px;
	z-index: 1;
}
.interior {
	position: relative;
	right: 10%;
	width: 460px;
	height: 640px;
}
.green78{
	width: 200px;
	height: 200px;
	position: absolute;
	left: 20%;
	top: 40%;
    display: none;
}
.green87{
	display: none;
}
/*Бэкграунд*/

.yge1{
	position: absolute;
    left: -45%;
	bottom: 50%;
	width: 512px;
	height: 493px;
}
.yge2{
   position: absolute;
   bottom: -40%;
   right: 30%;

   z-index: -1;
}
.green{
  position: absolute;
  left: -30%;
  top: 15%;
  width: 205px;
  height: 207px;
}
.green1{
	position: absolute;
	left: 60%;
	top: 67%;
	width: 182px;
	height: 183px;
}
.green2{
	position: absolute;
	top: -9%;
	left: 70%;
	width: 400px;
	height: 254px;
}
.green3{
	position: absolute;
	left: 105%;
}
.green4{
	position: absolute;
	top: 50%;
	left: -20%;
    z-index: -1;
}
.green5{
	position: absolute;
    left: 35%;
	bottom: 250px;
}
.vector{
    position: absolute;
    left: 95%;
	top: 70%;
	z-index: 1;
}
.vector1{
	width: 512px;
	height: 251px;
	position: absolute;
	bottom: 80px;
	left: -1%;
    z-index: -1;
}
/*Кнопки*/
.a{
 width: 105px;
}
.b{
 width: 51px;
}
.c{
 width: 74px;
}
.d{
 width: 129px;
}
.e{
 width: 83px;
}
.f{
 width: 134px;
}
.g{
 width: 45px;
}
.h{
 width: 66px;
}
.i{
 width: 115px;
}
.syt{

	font-family: "Noto Sans", sans-serif;
	font-family: var(--second-family);
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--black);

}
.otd{

	font-family: "Noto Sans", sans-serif;
	font-family: var(--second-family);
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--black);

}
.btn_s {
    border-radius: 3px;
	color: rgb(0, 0, 0);
	font-size: 16px;
	padding: 0px;
}
.btn {
	font-size: 18px;
	padding: 0px;
}
.btn_1 {
	border-radius: 3px;
	text-align: center;
	width: 236px;
	height: 49px;
	background-color: rgb(254, 214, 50);
	border: 2px solid rgb(254, 214, 50);
}
.btn_33 {
	border-radius: 3px;
	text-align: center;
	width: 236px;
	height: 49px;
	border: 2px solid rgb(0, 0, 0);
}
.btn_22 {
	border-radius: 3px;
	text-align: center;
	width: 190px;
	height: 47px;
	border: 2px solid rgb(0, 0, 0);
}

.btn_222 {
	border-radius: 3px;
	text-align: center;
	width: 235px;
	height: 47px;
	border: 2px solid rgb(0, 0, 0);
}
.btn_4 {
	border-radius: 3px;
	position: relative;
	bottom: 60%;
	left: 75%;
	text-align: center;
	width: 175px;
	height: 49px;
    border: 2px solid rgb(0, 0, 0);
}

.icon {
	width: 24px;
	height: 24px;

}

.arrow {
	width: 38px;
	height: 38px;
	fill: green;
}

/*Анимации*/


.btn:hover {
	color: rgb(254, 214, 50);
}
.btn_s:hover {
	color: rgb(254, 214, 50);
}
.btn_4:hover{
 border: 2px solid rgb(254, 214, 50);
}
.btn_222:hover{
 border: 2px solid black;
}
.btn_22:hover{
 border: 2px solid rgb(254, 214, 50);
}
.btn_3:hover{
 border: 2px solid rgb(254, 214, 50);
}
.btn_33:hover{
 border: 2px solid rgb(254, 214, 50);
}
.btn_1:hover{
   border: 2px solid black;
}



.btn_4:active{
	background-color:  rgb(254, 214, 50);
}
.btn_222:active{
	background-color:  rgb(254, 214, 50);
}
.btn_22:active{
	background-color:  rgb(254, 214, 50);
}
.btn_3:active{
	background-color:  rgb(254, 214, 50);
}
.btn_33:active{
	background-color:  rgb(254, 214, 50);
}

.ba{
	fill: aqua;
}



@media (max-width: 1440px){
	.green5{
	position: absolute;
    left: 30%;
	bottom: 250px;
    }
}
@media(max-width:390px){
	.green78{
	display: block;
	width: 200px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 50%;

}

	main{
		width: 390px;
		height: 3700px;
		overflow-x: hidden;
	}
	.cont_1{
		display: none;

	}
	.pizza{
		width: 325px;
		height: 217px;
		left: -75%;
		top: -40%;
	}
		.green1{
		left: -100%;
	}
	.cont_2{
		justify-content: center;
		width: 315px;
		left: 10%;
		font-size: 20px;
	}
	.block_1{
		position: relative;
		left: 0%;
		top: 25%;
	}
	.btn_1{
		position: absolute;
        left: 15%;
	}
	.btn_2{
		position: absolute;
		width: 235px;
		top: 70px;
        left: 15%;
	}
	.block_2{
		top: -110px;
        left: -100%;
		z-index: 1;
	}
	.block_2_1{
		position: absolute;
		margin-left: 15%;
		top: 110%;
	}
	.filos{
		width: 177px;
		height: 68px;
		left: 15%;
	}
	.content_2{
		width: 390px;
		left: 40%;
	}
	.interior{
		width: 239px;
		height: 303px;
		position: relative;
		top: 55%;
	}
	.yge1{
		left: -135%;
		top: 25%;
	}
	.block_3{
		width: 390px;
		top: -10%;
		left: 0%;
	}
	.text_lar{
		width: 263px;
		font-size: 14px;
		position: relative;
		left: 10%;
	}
	.text_lar1{
		width: 263px;
		font-size: 14px;
		position: relative;
		left: 20%;
	}
	.text_lar2{
		width: 263px;
		font-size: 14px;
		position: relative;
		left: 20%;
	}
	.syt{
		font-family: var(--second-family);
        font-weight: 400;
        font-size: 28px;
        line-height: 120%;
        text-transform: uppercase;
        color: var(--black);
		width: 210px;
		position: relative;
		left: 15%;
		top: 0%;
	}
	.btn_22{
	    border-radius: 3px;
	    text-align: center;
	    width: 194px;
	    height: 42px;
	    border: 2px solid rgb(0, 0, 0);
		position: relative;
		left: 15%;
		top: 0%;
	}
	.pizza_oven{
		width: 238px;
		height: 158px;
		margin-left: -33%;
		margin-top: 35%;
	}
	.couple{
		width: 207px;
		height: 250px;
		margin-top: 35%;
		margin-left: 13%;
	}
	.block_4{
		top: -10%;
		left: -47%;
	}
	.otd{
		font-family: var(--second-family);
        font-weight: 400;
        font-size: 28px;
        line-height: 120%;
        text-transform: uppercase;
        color: var(--black);
		width: 172px;
		position: relative;
		left: 13%;
	}
	.btn_33 {
	    border-radius: 3px;
	    text-align: center;
	    width: 194px;
	    height: 42px;
	    border: 2px solid rgb(0, 0, 0);
		position: relative;
		left: 13%;
	}
	.block_55{
       position: absolute;
	   left: 10%;
	   top: 20%;
 	}
	.content_5{
		width: 390px;
	}
	.map{
		height: 300px;
		width: 300px;
		position: absolute;
		top: 120%;
		left:0%;

	}
	iframe{
      width: 390px;
	  height: 390px;
	}
	.vector1{
		display: none;
	}
	.vector{
		display: none;
	}
	.green3{
		width: 130px;
		height: 100px;
		top: -300%;
		left: 7%;
	}
	.green2{
		width: 200px;
		height: 200px;
		top: -80%;
		left: -35%;
	}
	.green5{
        display: none;
	}
	.green4{
        display: none;
	}
	.green2{
        display: none;
	}
	.green1{
        display: none;
	}
	.green{
        display: none;
	}

	.btn_222{
		margin-top: 30%;
	    margin-left: 23%;
	}
}