{% load static %}
<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/banquets/banquetstyle.css">
    <link rel="stylesheet" href="../static/banquets/header.css">
    <link rel="stylesheet" href="../static/banquets/footer.css">
    <link rel="stylesheet" href="../static/banquets/swiper.css">
    <link rel="stylesheet" href="{% static 'banquetstyle.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="{% static 'swiper.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <title>LIMONCELLO</title>
</head>
<body>
    <header>
        <div class="dark"></div>
        <img src="../static/img/banquets/header/banq.svg" alt="banq-header" class="banqq">
        <img src="../static/img/banquets/header/line-header.svg" alt="line-header" class="line-header" style="left: 530px">
        <img src="../static/img/banquets/header/yellow-header.png" alt="yellow-header" class="yellow-header">

        <div class="logoo">
            <a href="#"><img src="../static/img/banquets/header/logo.svg" alt="logo"></a>
        </div>
        
        <div class="burger">
            <button id="btnburger"><img src="../static/img/banquets/header/burger.svg" alt="burger"></button>
        </div>

        <div id="slide">
            <button class="X" id="X"><img src="../static/img/banquets/header/X.svg" alt="x"></button>
            <div class="slidemenu">
                <a href="{% url 'main' %}" class="slideRest" style="font-size: 18px"><h1>About us</h1></a>
                <a href="{% url 'menu' %}" class="slideMen" style="font-size: 18px"><h1>Menu</h1></a>
                <a href="{% url 'banquets' %}" class="slideBanq" style="font-size: 18px"><h1>Banquets</h1></a>
                <a href="{% url 'customcake' %}" class="slideCakes" style="font-size: 18px"><h1>Custom cake</h1></a>
                <a href="{% url 'contact' %}" class="slideFeedback" style="font-size: 18px"><h1>Feedback</h1></a>
            </div>
            <div class="inffo">
                <div class="adress">
                    <h3>Address</h3>
                    <h1>8, Dvenadtsataya St., Vladivostok</h1>
                </div>
                <div class="phonenumber">
                    <h3>Phone number</h3>
                    <h1>8 (914) 707-34-43</h1>
                </div>
                <div class="opening">
                    <h3>Operating mode</h3>
                    <h1>Daily 11:00 - 23:00</h1>
                </div>
            </div>
        </div>

        <div class="logoWhite">
            <a href="#"><img src="../static/img/banquets/header/logoWhite.svg" alt="logoWhite"></a>
        </div>
        <div class="menu">
            <a href="{% url 'mainEng' %}" class="Rest" style="font-size: 18px">About us</a>
            <a href="{% url 'menu' %}" class="Men" style="font-size: 18px">Menu</a>
            <a href="{% url 'banquetsEng' %}" class="Banq" style="font-size: 18px">Banquets</a>
            <a href="{% url 'customcakeEng' %}" class="Cakes" style="font-size: 18px">Custom cake</a>
            <a href="#contacts" class="Contact" style="font-size: 18px">Contact</a>
            <a href="{% url 'contactEng' %}" class="Feedback" style="font-size: 18px">Feedback</a>
        </div>
        <div class="social">
            <a href="https://wa.me/79147073443"><img src="../static/img/whatsapp.svg" class="btn icon"></a>
            <a href="https://www.instagram.com/limoncellovl/"><img src="../static/img/instagram.svg" class="btn icon" style="margin-left: 10px"></a>
            <div class="language">
                <img src="../static/img/rus.svg" class="btn icon">
                <div class="arr">
                    <img src="../static/img/arrow.svg" class="btn">
                </div>
                <div class="russ">
                    <a href="{% url 'banquets' %}"><img src="../static/img/language.svg" class="btn icon rus"> </a>
                </div>
            </div>
        </div>
        <div class="txt-header">
            <h1>Your perfect celebration</h1>
            <h3>with the Limoncello restaurant team</h3>
            <div class="btn2">
                 <a href="https://wa.me/79147073443"><button class="btn-left"><h1>Learn more</h1></button></a>
                <a href="{% url 'banquets-menu' %}"><button class="btn-right"><h1>Banquet menu</h1></button></a>
            </div>
        </div>
        <div class="listya">
            <img src="../static/img/banquets/body/list-left.svg" alt="left-list" class="left-list">
            <img src="../static/img/banquets/body/list-right.svg" alt="right-list" class="right-list">
        </div>
    </header>
    <div class="ruki-slomay">
         <h3 class="textbody">Professional service and attention to details are our secret to a perfect celebration. The team of Limoncello restaurant is ready to organize for you an event of any scale – from private business meetings to large-scale wedding celebrations. We offer an original menu based on fresh and natural ingredients and several options of venues for any company.</h3>
        <img src="../static/img/banquets/body/yellow-left-txt.svg" alt="yellow-left-txt" class="yellow-left-txt">
    </div>
    <div class="housetorg">
        <div class="img_housetorg">
            <img src="../static/img/banquets/body/housetorg/holl.png" alt="holl" class="img1">
            <img src="../static/img/banquets/body/housetorg/flowers.png" alt="flowers" class="img2">
            <img src="../static/img/banquets/body/housetorg/arca.png" alt="arca" class="img3">
            <img src="../static/img/banquets/body/housetorg/house.png" alt="house" class="img4">
        </div>
        <div class="swiper1">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="../static/img/banquets/body/housetorg/holl.png"></div>
              <div class="swiper-slide"><img src="../static/img/banquets/body/housetorg/flowers.png"></div>
              <div class="swiper-slide"><img src="../static/img/banquets/body/housetorg/arca.png"></div>
              <div class="swiper-slide"><img src="../static/img/banquets/body/housetorg/house.png"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="txthousetorg">
            <h1>Celebration house by Aurora hall</h1>
            <h3 class="h3">Luxury two-storey house with a private terrace. The banquet hall can accommodate up to 50 guests. On the second floor there are a conference hall and a room for bride's gathering, photo shoot or guests' rest.</h3>
            <h3 class="h3_1">Deposit per guest: <br> 5 500 ₽ (June - September), 4 000 ₽ (October - May)</h3>
        </div>
    </div>

    <div class="shater">
        <img src="../static/img/banquets/body/shater/shater.png" alt="shater" class="img5">
        <img src="../static/img/banquets/body/shater/list-shater.svg" alt="list-shater" class="list-shater">
        <div class="txt-shater">
            <h1>Year-round wedding marquee</h1>
            <h3 class="h3-shater">Spacious, bright, cozy hall with panoramic glazing. An excellent option for weddings and other festive events. The hall can accommodate up to 100 guests.</h3>
            <h3 class="h3_shater">Deposit per guest: <br> 5 000 ₽ (June - September), 4 000 ₽ (October - May)</h3>
        </div>
    </div>

    <div class="besedka">
        <img src="../static/img/banquets/body/besedka/yellow-right-besed.svg" alt="yellow-right-besed" class="yellow-right-besed">
        <div class="img_besed">
            <img src="../static/img/banquets/body/besedka/besed1.png" alt="besed1" class="besed1">
            <img src="../static/img/banquets/body/besedka/besed2.png" alt="besed2" class="besed2">
            <img src="../static/img/banquets/body/besedka/besed3.png" alt="besed3" class="besed3">
            <img src="../static/img/banquets/body/besedka/besed4.png" alt="besed4" class="besed4">
        </div>
        <div class="swiper2">
            <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../static/img/banquets/body/besedka/besed1.png"></div>
            <div class="swiper-slide"><img src="../static/img/banquets/body/besedka/besed2.png"></div>
            <div class="swiper-slide"><img src="../static/img/banquets/body/besedka/besed3.png"></div>
            <div class="swiper-slide"><img src="../static/img/banquets/body/besedka/besed4.png"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="txt-besed">
            <h1>Summer arbors</h1>
            <h3 class="besed-txt">Ideal place for chamber events and family vacations in the open air. The summer arbors can accommodate up to 15 guests.</h3>
            <h3 class="besed_txt">Deposit per company: <br> 15 000 ₽ (weekdays), 25 000 ₽ (weekends)</h3>
        </div>
        <img src="../static/img/banquets/body/why_us/yellow-up-us.svg" alt="yellow-up-us" class="yellow-up-us">
    </div>

    <div class="why_us">
        <div class="why">
            <h1>Why guests choose us?</h1>
        </div>
        <div class="ikons">
            <div class="ik_1"><img src="../static/img/banquets/body/why_us/prirod.svg" alt="prirod"><h3>Private suburban location with large park area</h3></div>
            <div class="ik_2"><img src="../static/img/banquets/body/why_us/car.svg" alt="car"><h3>Free parking for cars with video surveillance</h3></div>
            <div class="ik_3"><img src="../static/img/banquets/body/why_us/cam.svg" alt="cam"><h3>Many unique locations for photo shoots</h3></div>
            <div class="ik_4"><img src="../static/img/banquets/body/why_us/kah.svg" alt="kah"><h3>Outdoor playground and children's room in the hotel</h3></div>
        </div>
        <img src="../static/img/banquets/body/why_us/right-list-us.svg" alt="right-list-us" class="right-list-us">
    </div>

    <div class="swiper3">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="../static/img/banquets/swiper/swaper1.jpg"></div>
          <div class="swiper-slide"><img src="../static/img/banquets/swiper/swaper2.jpg"></div>
          <div class="swiper-slide"><img src="../static/img/banquets/swiper/swaper3.jpg"></div>
          <div class="swiper-slide"><img src="../static/img/banquets/swiper/swaper4.jpg"></div>
          <div class="swiper-slide"><img src="../static/img/banquets/swiper/swaper5.jpg"></div>
          <div class="swiper-slide"><img src="../static/img/banquets/swiper/swaper6.jpg"></div>
          <div class="swiper-slide"><img src="../static/img/banquets/swiper/swaper7.jpg"></div>
          <div class="swiper-slide"><img src="../static/img/banquets/swiper/swaper8.jpg"></div>
          <div class="swiper-slide"><img src="../static/img/banquets/swiper/swaper9.jpg"></div>
          <div class="swiper-slide"><img src="../static/img/banquets/swiper/swaper10.jpg"></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <img src="../static/img/banquets/body/green-list-down.svg" alt="green-list-down" class="green-list-down">

    <div class="listya-down">
        <img src="../static/img/banquets/body/green-list-down-right1.svg" alt="green-list-down-right1" class="green-list-down-right1">
        <img src="../static/img/banquets/body/green-list-donw-right2.svg" alt="green-list-down-right2" class="green-list-down-right2">
    </div>

    <div class="send-whatsapp" id="contacts">
        <h2>You can ask a question, calculate the cost or book an event by calling: 8 (914) 707-60-60-60</h2>
        <a href="https://wa.me/79147073443"><button class="btn-whats"><h1>Text on Whatsapp</h1></button></a>
    </div>

    <div class="footer">
        <div class="line"></div>
        <div class="Logo">
            <a href="#"><img src="../static/img/banquets/header/logo.svg" alt="logo"></a>
        </div>
        <div class="fmenu">
            <a href="{% url 'mainEng' %}" class="fRest">About us</a>
            <a href="{% url 'menu' %}" class="fMen">Menu</a>
            <a href="{% url 'banquetsEng' %}" class="fBanq">Banquets</a>
            <a href="{% url 'contactEng' %}" class="fConct">Contact</a>
        </div>
        <a href="#" class="fbtn">
            <h1>Feedback</h1>
        </a>
        <div class="footback">
            <h3 class="txt1">2016 - 2024 © Limoncello</h3>
            <a href="#" class="txt2">Privacy policy</a>
            <div class="fsocial">
                <a href="" class="fInst"><img src="../static/img/banquets/footer/fInsta.svg" alt="Inst" class="fInst"></a>
                <a href="" class="fWhats"><img src="../static/img/banquets/footer/fwhats.svg" alt="Whats" class="fWhats"></a>
            </div>
        </div>
    </div>
    
</body>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
    new Swiper('.swiper1', {
      loop: true,
      pagination: {
        el: '.swiper-pagination',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    
    new Swiper('.swiper2', {
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });

    new Swiper('.swiper3', {
      pagination: {
        el: '.swiper-pagination',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    
    const toggleButton = document.getElementById('btnburger');
    const slideBlock = document.getElementById('slide');
    const closeButton = document.getElementById("X")

    toggleButton.addEventListener('click', () => {
        slideBlock.classList.toggle('show');
    });
    closeButton.addEventListener('click', () => {
        slideBlock.classList.toggle('show');
    });
    </script>
    <style>
        body{
            position: relative;
            width: 100%;
            height: 5300px;
            margin: 0;
            overflow-x: hidden;
        }

        @media(max-width: 480px){
            body{
                position: relative;
                width: 100%;
                height: 5700px;
                margin: 0;
                overflow-x: hidden;
            }
        }
    </style>
</html>